@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: 'Mulish', sans-serif;
}
.header {
    padding: 20px 32px;
    display: flex;
    align-items: center;
}
.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    width: 20px;
    border: none;
    background-color: #fff;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line {
    display: block;
    height: 3px;
    width: 20px;
    background: #1F2022;
    border-radius: 20px;
}
.logo-youtube {
    cursor: pointer;
    margin-right: 59px;
}
.search-group {
    height: 44px;
    max-width: 830px;
    width: 50%;
    padding: 0 20px;
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    background: none;
    border: none;
    width: 80%;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: #30384C;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-icon:hover {
    opacity: .8;
}
.icons-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
}
.icon {
    fill: #000000;
    opacity: .4;
}
.icon:hover {
    opacity: .8;
}
.icons-link {
    margin-left: 45px;
}
.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.container {
    padding: 30px 0;
    display: flex;
}
.menu {
    min-width: 180px;
    margin-left: 50px;
    margin-right: 65px;
}
.menu-group {
    margin-bottom: 60px;
}
.menu-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.menu-icon {
    margin-right: 13px;
}
.menu-item {
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}
.menu-icon:hover {
    fill: red;
}
.menu-item:hover {
    color: red;
}
.subscription {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 30px;
}
.video-box {
    overflow: hidden;
}
.small-line {
    margin-bottom: 50px;
}
.video-line {
    display: flex;
}
.big-line {
    margin-bottom: 50px;
}
.line-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-bottom: 30px;
}
.small-card {
    height: 200px;
    width: 250px;
    margin-right: 40px;
}
.big-card {
    height: 300px;
    width: 540px;
    margin-right: 40px;
}
.small-video {
    width: 250px;
    height: 150px;
    border-radius: 14px;
    object-fit: cover;
    object-position: center center;
}
.big-video {
    width: 540px;
    height: 250px;
    border-radius: 14px;
    object-fit: cover;
    object-position: center center;
}
.subtitle {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}
.description {
    margin: 0;
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}