* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    padding: 20px 32px;
    display: flex;
    align-items: center;
}
.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    width: 20px;
    border: none;
    background-color: #fff;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line {
    display: block;
    height: 3px;
    width: 20px;
    background: #1F2022;
    border-radius: 20px;
}
.logo-youtube {
    cursor: pointer;
    margin-right: 59px;
}
.search-group {
    height: 44px;
    max-width: 830px;
    width: 50%;
    padding: 0 20px;
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input {
    background: none;
    border: none;
    width: 80%;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    color: #30384C;
    mix-blend-mode: normal;
    opacity: 0.7;
}
.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.search-icon:hover {
    opacity: .8;
}
.icons-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;

}
.icon {
    fill: #000000;
    opacity: .4;
    margin-left: 50px;
}
.icon:hover {
    opacity: .8;
}
.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 45px;
}
